/* DONWLOAD */

.fundo-download {
    background: url(../imagens/background-download.png);
}

#container-donwload {
    height: 800px;
    position: relative;
}

#imagem-donwload {
    position: flex;
    float: left;
    margin-left: 350px;
    text-align: center;
}

#conteudo-download {
    position: absolute;
    width: 600px;
    left: 950px;
    height: 850px;
}

#conteudo-download h1 {
    color: #AFD5AA;
    font-family: "Russo One";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3.8em;
    margin-bottom: -1px;
}

#conteudo-download p {
    color: white;
    font-family:"Roboto";
    font-size: 1.0em;
}

#conteudo-download img {
    margin-left: 90px;
}

#menu-footer {
    background: black;
    height: 120px;
}