/* PAGINA SOBRE */

#container-sobre {
    /* border: 1px solid greenyellow; */
    position: relative;
    height: 750px;
    
}

#conteudo-sobre-esquerda {
    padding-top: 250px;
    /* border: 1px solid red; */
    width: 800px;
    height: 750px;
    float: left;
    padding-left: 200px;
}

#conteudo-sobre-esquerda h2 {
    color: #AFD5AA;
    font-family: "Russo One";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
}

#conteudo-sobre-esquerda p {
    color: white;
    font-family:"Roboto";
    font-size: 0.9em;
    margin-bottom: 50px;
}

#conteudo-sobre-esquerda img {
    float: left;
    padding-right: 10px;
}

#conteudo-sobre-central {
    position: absolute;
    left: 650px;
    width: 550px;
    text-align: center;
}

#conteudo-sobre-central .texto-sobre {
    width: 280px;
    text-align: center;
    margin-left: 135px;
    color: #AFD5AA;
    font-family: "Russo One";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5em;
}

#conteudo-sobre-direita {
    padding-top: 250px;
    position: flex;
    float: right;
    padding-right: 100px;
    height: 750px;
}

#conteudo-sobre-direita h2 {
    color: #AFD5AA;
    font-family: "Russo One";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
    
}

#conteudo-sobre-direita h2:hover {
    animation: animacao-sobre-texto 0.5s 0s forwards;
    cursor: pointer;
}

#conteudo-sobre-esquerda h2:hover {
    animation: animacao-sobre-texto 0.5s 0s forwards;
    cursor: pointer;
}


#conteudo-sobre-direita p {
    color: white;
    font-family:"Roboto";
    font-size: 0.9em;
    margin-bottom: 50px;
    
}

#conteudo-sobre-direita img {
    float: left;
    padding-right: 15px;
}